<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
</head>
<body>
    
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
            <a href="formulario.html">Formulario</a>
            <a href="#texto">Ir a texto</a>
        </nav>
    </header>

    <main>
        <h1>GALERIA</h1>

        <section>

            <div>
                <img src="../static/img/esquel_1.jpg" alt="Foto Esquel">
                <h3>Imagen de Esquel</h3>
                <p>Descripción: Vení a pasear en la Trochita🚊</p>
                <a href="../static/img/esquel_1.jpg" target="_blank">Ver imagen</a>
                <br>
                <a href="../static/img/esquel_1.jpg" download="">Descargar imagen</a>
                <br>
                <a href="../assets/atajos.pdf" download="">Descargar PDF</a>
                <br>
                <a href="mailto:">Enviar correo</a>
            </div>

        </section>

        <section id="texto">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, deleniti rem voluptate, error molestiae exercitationem consectetur sint ipsa, iusto quia eaque. Aliquid odit, vel explicabo obcaecati quam exercitationem doloribus saepe?
            Maxime provident sint labore autem, eius soluta? Sequi repellat unde quasi id earum, cumque aperiam libero est dolorum? Necessitatibus voluptate ratione blanditiis aperiam nihil totam asperiores commodi consequuntur laboriosam officiis.
            Doloremque alias sed esse aut expedita numquam tenetur consequuntur repudiandae quasi omnis impedit eius cum, officiis a unde officia enim vel ullam ex explicabo quae ipsum praesentium veritatis dolore. Veniam!
            Earum explicabo labore modi fugiat suscipit qui veritatis perspiciatis cupiditate. Earum vero quasi dolores quia maxime iste a excepturi architecto quos. Ducimus similique a magnam ad, accusamus consequatur minus laboriosam.
            Eligendi repellat, sunt soluta ad aut similique laboriosam, molestias molestiae quisquam quis hic aliquid excepturi deleniti non cumque et corrupti rem iusto ducimus! Hic pariatur veritatis quaerat ipsum. Voluptatum, exercitationem.
            Delectus quis velit optio accusantium similique dolores in quidem repudiandae explicabo accusamus sequi, at debitis et veniam harum quod numquam autem corrupti qui assumenda tempora. Modi ipsum quos consequatur aperiam!
            Reiciendis dolorum dolor repellat inventore vitae libero incidunt culpa iusto. Quod quibusdam nostrum explicabo necessitatibus reprehenderit, libero dolorum animi corporis non quasi aut, omnis optio nihil officia quos mollitia vel.
            Eius id, eum dignissimos adipisci temporibus saepe iure velit ipsum nobis provident ad ea, earum minus quidem aliquam odit sequi aspernatur omnis aperiam. Autem magnam quisquam, sit iusto corrupti aperiam.
            Accusantium, asperiores nobis amet voluptate labore quisquam exercitationem iure perferendis, aperiam nihil rem doloremque quibusdam. Laborum necessitatibus dolores fugiat obcaecati! Minima hic, ratione delectus incidunt ad earum explicabo odit officia?
            Facilis nam cum est temporibus voluptatum beatae odit recusandae maxime, possimus doloribus illo fugit ducimus explicabo molestias ad necessitatibus tempora quam in ipsa, illum alias! Amet a quae ipsa earum?</p>
        </section>
    </main>
    
    <footer></footer>

</body>
</html>