<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <h1>Listas</h1>

        <section>
            <h2>Lista desordenada</h2>

            <ul>
                <li>Argentina</li>
                <li>Bolivia</li>
                <li>Perú</li>
            </ul>

            <ul type="circle">
                <li>Argentina</li>
                <li>Bolivia</li>
                <li>Perú</li>
            </ul>

            <ul type="square">
                <li>Argentina</li>
                <li>Bolivia</li>
                <li>Perú</li>
            </ul>

        </section>

        <section>
            <h2>Lista ordenada</h2>

            <ol reversed>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <ol type="a">
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <ol type="I" reversed>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>


        </section>

        <section>
            <h2>Listas depndientes</h2>

            <ol>
                <li>Lunes</li>
                    <ul>
                        <li>Mañana</li>
                            <ul>
                                <li>8:00 turno médico</li>
                                <li>8:30 tomar mate</li>
                            </ul>

                        <li>Tarde</li>
                            <ul>
                                <li>14:00 Almuerzo</li>
                                <li>16:00 preparar cena</li>
                            </ul>

                        <li>Noche</li>
                            <ul>
                                <li>20:00 Gym</li>
                                <li>22:00 cenar</li>
                            </ul>
                    </ul>


                <li>Martes</li>
                <li>Miercoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>   
            </ol>


        </section>

        <section>
            <h2>Listas de definición</h2>

            <i><h3>Alimentos Lácteos</h3></i>

            <dt>Leche</dt>
                <dd>Entera</dd>
                <dd>Descremada</dd>
                <dd>En polvo</dd>
                <dd>Deslactosada</dd>

            <dt>Queso</dt>
                <dd>Roquefort</dd>
                <dd>Parmesano</dd>
                <dd>Mozarella</dd>
                <dd>Azul</dd>





        </section>
        
    </main>
    
    <footer></footer>
    
</body>
</html>