<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Palabras claves -->
    <meta name="keywords" content="HTML, Multimedia, audio, video, mapa, tabla, icono">
    
    <!-- Descripción -->
    <meta name="description" content="Incorporación de Multimedia, audio, video, mapas y tablas para representación datos">

    <!-- Incorporar un incono -->
    <link rel="shortcut icon" href="../img/codoAcodo.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <h1>Tabla</h1>

        <section>
            <h2>Audio y Video</h2>
            <!-- Audio -->
            <div>
                <audio src="../audio/typical-trap-loop-2b-130751.mp3" controls></audio>
            </div>

            <!-- Video -->
            <div>
                <video src="../video/mov_bbb.mp4" controls muted></video>
            </div>
        </section>

        <section>
            <h3>Mapa y Video de YouTube</h3>

            <!-- Mapa -->
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2928.2829277030637!2d-64.99845012442371!3d-42.78236833399581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe024ab57051af1b%3A0xf5a27e71bfc61c2e!2sEcocentro%20Pampa%20Azul!5e0!3m2!1ses!2sar!4v1710202571709!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SWZvus6-6Yo?si=hoxDr0zK4bhzjg7e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </section>

        <section>
            <div>
                <h4>Tabla Básica</h4>

                <table border="1">
                    <tr>
                        <th>Encabezado1</th>
                        <th>Encabezado2</th>
                        <th>Encabezado3</th>
                    </tr>

                    <tr>
                        <td>Dato1</td>
                        <td>Dato2</td>
                        <td>Dato3</td>
                    </tr>

                    <tr>
                        <td>Dato4</td>
                        <td>Dato5</td>
                        <td>Dato6</td>
                    </tr>


                </table>
                

            </div>

            
            <div>
                <h5>Tabla Combinada</h5>

                <table border="1">
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th colspan="2">Variantes</th>
                    </tr>

                    <!-- Primer registro -->
                    <tr>
                        <td rowspan="2">Camiseta</td>
                        <td rowspan="2">Camiseta de Algodón</td>
                        <td>Color</td>
                        <td>Talla</td>
                    </tr>

                    <tr>
                        <td>Rojo</td>
                        <td>S</td>
                    </tr>

                    <tr>
                        <td rowspan="3">Zapatos</td>
                        <td rowspan="3">Zapatos deportivos</td>
                        <td>Color</td>
                        <td>Talla</td>
                    </tr>

                    <tr>
                        <td>Azul</td>
                        <td>42</td>
                    </tr>

                    <tr>
                        <td>Blanco</td>
                        <td>42</td>
                    </tr>
                </table>
            </div>

        </section>
        
    </main>
    
    <footer></footer>

</body>
</html>